@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* color variables */
:root {
    --primary-dark: #0b132b;
    --secondary-dark: #1c2541;
    --tertiary-dark: #3a506b;

    --primary-light: white;

    color: var(--primary-light);
    font-family: Roboto;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-dark);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    justify-content: right;
    gap: 7%;
}

.grid{
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .5%;
}

.grid-square {
    width: 100%;
    height: 100%;
}

.guess {
    background-color: var(--secondary-dark);
    transition: transform 0.1s ease-in-out;
}

.guess:hover {
    cursor: pointer;
    background-color: var(--tertiary-dark);
}

#top-left {
    border-radius: 10% 0 0 0;
}

#top-right {
    border-radius: 0 10% 0 0;
}

#bot-left {
    border-radius: 0 0 0 10%;
}

#bot-right {
    border-radius: 0 0 10% 0;
}

.guess-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}